$text-color: #eee;

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2e2546;
    color: $text-color;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
    font-weight: lighter;
}

#starshipsContainer {
    margin: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;
}

@media only screen and (max-width: 1300px) {
    #starshipsContainer {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 900px) {
    #starshipsContainer {
        grid-template-columns: 1fr;
    }
}

.starship {
    background-color: #453a52;
    // color: black;
    box-sizing: border-box;
    box-shadow: 0 0 12px 0 #00000066;
    display: flex;
    flex-direction: column;

    table {
        width: 100%;
        border-collapse: collapse;
        flex: 1;

        tr:nth-child(odd) {
            background-color: rgba($text-color, 0.07);
        }

        td {
            padding: 8px 16px;
        }
    }

    .none {
        color: rgba($text-color, 0.5);
        font-style: italic;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}