$text-color: #eee;
$background-color: #363945;
$card-color: #2e58ff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: $background-color;
    color: $text-color;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
  
h1 {
    margin-bottom: 16px;
    text-align: center;
    font-weight: lighter;
}
  
main {
    width: 960px;
    margin: auto;
}
  
label {
    padding: 8px;
}
  
label span {
    display: inline-block;
    padding-left: 8px;
}
  
input {
    padding: 4px;
}
  
button {
    padding: 4px;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
    margin: 2em 0;
}

.pokemon {
    padding: 1.5em;
    background-color: $card-color;
    box-shadow: 0 0 0.75em 0 #00000088;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    text-align: center;

    &__image {
        width: 100%;
    }

    &__types {
        div {
            display: inline-block;
            border: 2px solid $text-color;
            padding: 0.5em 1em;
            border-radius: 100px;

            &:not(:last-child) {
                margin-right: 0.75em;
            }
        }
    }
}

#pokemonNameContainer {
    display: flex;
    gap: 16px;
    margin: 16px 0;
}

#pokemonName, button {
    background: transparent;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    padding: 8px 12px;
    border: 1px solid $text-color;
    border-radius: 100px;
    display: block;
    outline: none;
}

#pokemonName {
    flex: 1;
}

button {
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: $text-color;
        color: $background-color;
    }
}

.filters {
    margin-top: 32px;
}

#formFiltersTypes {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

@media only screen and (max-width: 1024px) {
    main {
        width: 100%;
        margin: 0;
        padding: 0 32px;
    }

    #formFiltersTypes {
        grid-template-columns: repeat(7, 1fr);
    }

    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

.no-pokemons {
    display: block;

    &::before {
        content: "No pokemons found";
        font-style: italic;
        color: rgba($text-color, 0.5);
        text-align: center;
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 720px) {
    #formFiltersTypes {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media only screen and (max-width: 620px) {
    .pokemons {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 530px) {
    #formFiltersTypes {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 350px) {
    body {
        font-size: 14px;
    }

    #formFiltersTypes {
        grid-template-columns: repeat(2, 1fr);
    }
}
